*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

.challenge-container{
    width:100%;
    height:100vh;
    background-color: lightgray;
    border: 5px solid black;
}
.challenge-container2{
    width:20%;
    height:20vh;
    background-color: rgba(127, 255, 212, 0.325);
    border: 5px solid rgb(51, 255, 0);
    color:aqua;
}
.challenge-container3{
    width:20%;
    height:20vh;
    background-color: rgba(127, 255, 212, 0.325);
    border: 5px solid rgb(51, 255, 0);
    color:aqua;
}
.challenge-container4{
    width:20%;
    height:20vh;
    background-color: rgba(127, 255, 212, 0.325);
    border: 5px solid rgb(51, 255, 0);
    color:aqua;
}
.color{
    color:white;
    background-color: green;
    display:inline-block;
}